
body{
    margin: 0px;
}

.section-one{
    background-color: rgb(177, 166, 228);
    display:flex;
    justify-content: center;
    margin-bottom:0px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size:18px;
}

.right{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
    width: 35%;
    padding: 20px 30px 50px 30px;
}


.links{
    display:flex; 
    gap: 25px;  
}

.hero-right{
    align-self: stretch;
    border-radius: 8px;
    color: white;
    background-color: grey;
    padding: 115px;
    background-size: cover;
    margin-left:90px;
    
}

.items img{
    width: 90px;
    height: auto;
}

.items{
    max-width: 200px;
}

.section-two h2{
    text-align: center;
    margin: 0;
    padding: 5px;
    margin-bottom: 20px;
}

.images{
    display: flex;
    justify-content: center;
    gap: 75px;
    margin: 20px;
    padding: 50px;
}

.section-two {
    background-color: beige;
}



