
body{
    margin: 0px;
    font-family: 'Single Day', cursive;
}

.section-one{
    background-color:#b31b49;
    display:flex;
    justify-content: center;
    margin-bottom:0px;
    color:#e2e2e2;
}

.section-one a{
    text-decoration: none;
    color:#e2e2e2;
    font-weight:900;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size:18px;
    max-width: 45%;
}

.right{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
    width: 35%;
    padding: 20px 30px 50px 30px;
}

.links a{
    font-weight:750;
}


.links{
    display:flex; 
    gap: 25px;  
}

.hero-right{
    align-self: stretch;
    border-radius: 8px;
    color: white;
    background-color: grey;
    padding: 120px;
    background-size: cover;
    margin-left: 10px;
    background-image: url(./images/spideyswing.gif);
    background-position: 40%;
    
}

.join{
    padding: 10px;
    border-radius: 8px;
    background-color:#007fd7;
    color:#e2e2e2;
    font-weight: 850;
    margin-bottom: 9px;
    font-family: 'Single Day', cursive;
}

.items img{
    width: 90px;
    height: auto;
}

.items{
    max-width: 200px;
}

.images{
    display: flex;
    justify-content: center;
    gap: 75px;
    padding: 50px;
}

.section-two {
    background-color: #383336;
    color:#e2e2e2;
    text-align: center;
}
.section-two h2{
    text-align: center;
    margin: 0;
    padding: 10px;
    margin-bottom: 0px;
    font-size:35px;
}

.section-two p{
    font-size: 18px;
}

.section-three{
    background-color:gray;
    padding:100px;
    display: flex;
    flex-direction: column;
    background-image: url(./images/romance.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color:#e2e2e2
}

.section-three p {
    max-width: 50%;
    margin: 0 auto;
    font-size: 40px;
    background-position: 60%;
}

.section-three h4{
    text-align: center;
    margin: 5px;
    font-size: 20px;
}

.section-four{
    padding: 100px 40px;
    background-color: #b31b49;
    display: flex;
    justify-content: center;
    background-image: url(./images/background.png);
    background-size: cover;
    background-position: 60%;
}

.container-card{
    background-color: #383336;
    padding: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    border-radius: 8px;
    color:#e2e2e2;

}

.footer{
    text-align: center;
    padding: 15px;
    background-color: #383336;
    color: white;
    font-weight: 900;
}

.left-card{
    max-width: 300px;
}
