
body{
    margin: 0px;
}

.section-one{
    background-color: rgb(177, 166, 228);
    display:flex;
    justify-content: center;
}


.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size:18px;
}

.right{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
    width: 35%;
    padding: 20px 30px 50px 30px;
}


.links{
    display:flex; 
    gap: 25px;  
}

.hero-right{
    /*max-width: 60%;
    align-self: stretch;
    flex: 1;
    border-radius: 8px;
    background-size: cover;
    background-image: url(https://manuas.com/cdn/shop/products/polynesian-print-fabric-dobby-cotton-3198-web_grande.png?v=1597790265);
    margin: 25px;*/
    align-self: stretch;
    border-radius: 8px;
    color: white;
    background-color: grey;
    padding: 115px;
    background-size: cover;
    margin-left:90px;
    
}



